header
  height: 300px
  padding: 30px

  >div
    width: 100%
    max-width: 1250px
    margin: auto
    display: flex
    flex-direction: column
    justify-content: space-between
  .topNav
    display: flex
    justify-content: space-between
    align-content: center
    display: flex
    text-decoration: none
    list-style: none
    gap: 15px
  a
    font-size: 17px
    font-weight: 600
    padding: 0px 7px
  h1
    font-size: 40px
    width: 60%
    text-transform: uppercase

footer
  background-color: #333
  color: white
  padding: 1px
  text-align: center

main
  width: 100%
  max-width: 1450px
  margin: auto
  padding: 0px 30px 100px 30px
  min-height: 500px

.home_body
  display: flex
  flex-direction: column
  gap: 50px
  .image
    width: 40%
  .card
    display: flex
    flex-direction: row
    gap: 30px
    justify-content: center
    align-content: center
    align-items: center
    // &:nth-child(even)
    //   direction: rtl
    // .content
    //   width: 50%

.events_page
  display: flex
  flex-direction: row
  gap: 20px
  .card
    position: relative
    h2
      position: absolute
      width: 100%
      top: 50%
      text-align: center
      font-size: 38px
      color: white
      text-transform: uppercase
      text-shadow: 1px 1px 20px black

.cat_events
  width: 100%
  .content
   display: flex
   flex-direction: row
   flex-wrap: wrap
   gap: 30px
   width: 100%
   justify-content: flex-start
   .card
    display: flex
    flex-direction: column
    width: 30%
